#header {
  box-shadow: 0px 0px 10px #cccccc;
  padding: 20px;
  margin-bottom: 60px;
}

#header span {
  font-size: 25pt;
  font-family: 'Arial';
  font-weight: 700;
  padding: 20px 40px;
}

form {
  position: relative;
}

#search {
  position: absolute;
  width: 60%;
  left: 50%;
  padding: 20px 50px;
  border-radius: 50px;
  border: 0;
  box-shadow: 0px 2px 6px #cccccc;
  transform: translateX(-50%);
  font-size: 15pt;
  outline: none;
  overflow: hidden;
}

#search::placeholder {
  color: #cccccc;
  font-weight: bold;
}

.list {
  margin-top: 160px;
}

.add {
  padding: 12px 30px;
  background-color: #f4cf5d;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12pt;
  color: white;
  outline: none;
  float: right;
  margin-right: 200px;
}
.add:active{
  background-color: #c79e21;
  cursor:auto;
}

.list-item {
  padding-top: 80px;
  margin-left: 190px;
}

.item {
  width: 200px;
  height: 270px;
  box-shadow: 0px 0px 10px #aaa;
  border-radius: 10px;
  float: left;
  margin-right: 60px;
  cursor: pointer;
  outline: none;
}
.item:active{
  cursor: auto;
}
.item img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: black;
  object-fit: cover;
  object-position: 50% 50%;
}

.item p {
  padding: 0px 20px 0px 10px;
  margin: 0px;
  font-weight: bold;
  font-size: 15pt;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}